

@media only screen and (max-width: 600px) {

.contactMe{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.contactImage{
    width: 100%;
}

.formWidth{
    width: 100%;
}

}